Template vuoti/XML/resources/Template.xsd

<?xml version="1.0" ?> 

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Name " type="Type" /> 
	
	<xs:complexType name="Type"> 
		<xs:sequence> 
			<xs:element name = "Element" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence> 
  	</xs:complexType> 

</xs:schema>
